name: sleep_stage_chart
description: A Flutter plugin for displaying visualized charts of sleep phases and sleep quality data, supporting both Android and iOS platforms.
version: 1.1.0
homepage: https://github.com/wp993080086/sleep_stage_chart
repository: https://github.com/wp993080086/sleep_stage_chart
issue_tracker: https://github.com/wp993080086/sleep_stage_chart/issues

environment:
  sdk: '>=3.0.0 <4.0.0'
  flutter: '>=3.0.0'

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter: