name: sleep_stage_chart
description: A Flutter plugin for displaying visual charts of sleep stages and sleep quality data, and also supports meditation charts. Compatible with Android, iOS and Windows platforms.
version: 1.1.2
homepage: https://github.com/wp993080086/sleep_stage_chart
repository: https://github.com/wp993080086/sleep_stage_chart
issue_tracker: https://github.com/wp993080086/sleep_stage_chart/issues

environment:
  sdk: '>=3.0.0 <4.0.0'
  flutter: '>=3.0.0'

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter: